body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d9d9d9;
}

/* TOPO */
.topo {
    background-color: #f5deb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.topo h1 {
    color: green;
}

/* MENU */
.menu {
    background-color: #87cefa;
    text-align: center;
    padding: 10px;
}

.menu a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* CONTEÚDO */
.conteudo {
    padding: 30px;
    text-align: center;
}

.conteudo p {
    font-size: 18px;
}

/* LIVROS */
.livros img {
    width: 200px;
    margin: 10px;
}

/* VÍDEOS */
.videos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* TABELA */
table {
    margin: auto;
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid red;
    padding: 10px;
}

/* LINKS */
.links {
    background-color: yellow;
    width: 300px;
    margin: 20px auto;
    padding: 10px;
}

/* RODAPÉ */
footer {
    background-color: #f5deb3;
    text-align: center;
    padding: 15px;
    font-family: "Comic Sans MS";
    background-color: #f5deb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}



p{
    color: rgb(168, 43, 168);
}
